body {
	color: #333;
	background-color:#ecf0f9;
	padding-left: 15%;
	padding-right: 15%; 
}

section:not(:last-child){
	border-bottom-color: #f2f4f7; 
	border-bottom-width : 2px;
	border-bottom-style: solid;
	padding-bottom: 1em;
}

input:checked {
	transform: scale(1.5);
}

input[type=radio] {
	color:#FFF3F3;
}

span.answers{
	color:#3d3d3f;
}

section:hover:not(:first-child){
	background-color: #c2c3ef;
	padding: 10px;
}
section{
	 padding-right: 10px;
	 padding-left: 10px;
}

header{
	border-radius: 5px 5px 0 5px;
	padding:10px;
	background-color:#a065f0;
	margin-bottom: -20px;
	box-shadow:2px 10px 30px gray; 
}

h1{
	color:#fcfcfe;
}
p.intro-text{
	color:#fcfcfe;
}
p#i-points{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

p.question-text{
	color:#3d3d3f;
	font-weight: bold;
}

.button-validate{
	margin: 0 auto; 
	text-align: center;
}

button#note-result{
	background-color: white;
	height: 60px;
	width: 150px;
	margin-top: 20px; 
	margin-bottom: 20px;
    color: #a065f0;
    border: 2px solid #a065f0;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 14px;

}
button#note-result:hover{
	background-color: #a065f0;
	color:white;
}
main{
	box-shadow:2px 2px 30px gray; 
	background-color: #fcfcfe;
}